.right_header {
  margin: 0px;
  padding: 0px;
  font-size: 0.7em;
  color: rgb(87, 83, 83);
  line-height: 1.6em;
}

.right_content {
  margin: 0px;
  padding: 0px;
  color: rgb(130, 126, 126);
  font-size: 0.6em;
  line-height: 1.6em;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.right_p_tag {
  color: rgb(130, 126, 126);
  font-size: 0.6em;
  line-height: 1.6em;
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 480px) and (max-width: 1024px) {

  .about_container_right,
  .about_container_right {
    border-right: 0px solid white;
    width: 90vw;
    margin: auto;
  }

  .right_main {
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
  }

  .right_element {
    flex-basis: calc(50% - 10px);
  }

  .right_content {
    margin: 10px;
  }
}

@media only screen and (max-width: 479px) {

  .about_container_right,
  .about_container_right {
    width: 90vw;
    border-right: 0px solid white;
    border-bottom: 1px solid lightgray;
    margin: auto;
  }

  .right_content {
    margin: 10px;
  }

  .right_main {
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
  }

  .right_element {
    flex-basis: calc(50% - 10px);
    margin: 5px;
  }
}